---
layout: default
---

<div class="home">
    
   Welcome to first (virtual) RISE (netwoRkIng SystEms) summer school. Check out the <a href="https://onrg.gitlab.io/rise/about/">goals of RISE</a> and <a href="https://onrg.gitlab.io/rise/schedule/">schedule</a>. <br><br>

<h4>News</h4>
<ul>
<li>The CloudLab team (Rob Ricci and Dmitry Duplyakin) will give a talk/tutorial on techniques for repeatable experimentation on 07/10/2020!</li>

<li><a href="https://docs.google.com/forms/d/10E5o3-uhDIDR_m5qvkpOFfoNQstVscftTxltnAIKOuI/edit?ts=5eb31eb9">Registration</a>
<s> is now open!</s> is now closed. Thanks for the interest and great response!

<li>We will be using Piazza for discussions and online lectures. Please the Schedule page for more information. 
</ul>
<!--
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>
-->
</div>
